<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../Designs/exam.notice.css" rel="stylesheet" />

    <title>Document</title>
</head>
<body>
    <section>
        <h2> Exam Instruction</h2>

        <ol>
            <li id="fLi"></li>

            <li>Each Question has 5 points if answered correctly </li>


            <li>You will need 75% on averge to get a Pass for each of our exams</li>

            <li>You are given 5 seconds to answer each Question and 5 seconds to read the story for the multiple choice Questions</li>
            
            <li>On clicking the button below your exams starts immediately and we will stop you from answering any further quesion when your time is up</li>
            
            <li>By the top left corner of your screen you can see the timer, Goodluck!!!!</li>

        </ol>
            <span id="stExam">
                <button onclick="startNow()">Start now</button>

            </span> 


    </section>
    
    <script src="../../exam.notice.js"></script>
</body>
</html>